@media only screen and (min-width: 1200px) {
  .ui.grid.container {
    width: 100%!important;
  }
}
#container {
  background-image: url('../../images/bg/bg-6.jpg');
}
h2.vh-table .content, h2.vh-table i {
  color: #fff;
}
