//-
   Created by shen on 2016/7/25.

div.ui.middle.aligned.center.aligned.grid.vh-login-box
    div.column
        h2.ui.vh-color-font.header
            div.content 登录至您的帐号
        form(method="post").ui.large.form.vh-login-form
            |{{ form.csrf_token }}
            div.ui.stacked.segment
                div.field
                    div.ui.left.icon.input
                        i.user.icon
                        input(type="text", name="username", placeholder="用户名", value="liushen")
                div.field
                    div.ui.left.icon.input
                        i.lock.icon
                        input(type="password", name="password", placeholder="密码", value="123456")
                div.ui.fluid.large.vh-color-bg.submit.button 登录

                |{% with messages = get_flashed_messages() %}
                |{% if messages %}
                |{% for message in messages %}
                div.ui.error.message {{ message }}
                |{% endfor %}
                |{% endif %}
                |{% endwith %}
