//-
   Created by shen on 2016/6/1.

div.container.ui
    div.ui.grid
        div.sixteen.wide.column(style="padding-top:0;padding-bottom:6px;")
            div.ui.checkbox
                input(type="checkbox",tabindex="0")
                label 隐藏正确项
        div.six.wide.column(style="padding:0 0 0 1rem;")
            div.ui.items.divided.vh-error-list-box
        div.ten.wide.column.vh-error-list-oper-box(style="padding:0 1rem 0 0;")
