//-
    Created by shen on 2016/8/1.

    mod management page

div.container.ui
    div.ui.equal.width.form
        div.fields
            div.field
                label 编号
                input(type="hidden")
                input(type="number",placeholder="编号",name="mod_code")
        div.fields
            div.field
                label 名称
                input(type="text",placeholder="名称",name="mod_name")
        div.fields.vh-align-center
            div.ui.error.message(style="margin:0 auto;")