//-
   Created by shen on 2016/7/18.

extends _main

block title
    title 在线用户

block content
    div.ui.main.container.raised.segment#container.vh-container
        h2(class="ui header")
            i(class="users icon")
            div(class="content") 在线用户

        div.ui.vertically.divided.grid.vh-online-users-box
